@page
@using Webservice.ContextHelpers
@model TradingDB.Pages.AdminEditAccountsModel
@inject DatabaseContextHelper context
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UpdateAdminAccount.Active"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UpdateAdminAccount.Active" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="UpdateAdminAccount.Active"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UpdateAdminAccount.Broker"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UpdateAdminAccount.Broker" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="UpdateAdminAccount.Broker"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UpdateAdminAccount.Name"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UpdateAdminAccount.Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="UpdateAdminAccount.Name"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="UpdateAdminAccount.Description"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UpdateAdminAccount.Description" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="UpdateAdminAccount.Description"></span>
        </div>

                <div class="form-group row">
            <div class="col-2">
                <label asp-for="UpdateAdminAccount.Password"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UpdateAdminAccount.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="UpdateAdminAccount.Password"></span>
            </div>

                            <div class="form-group row">
            <div class="col-2">
                <label asp-for="UpdateAdminAccount.AvailableFunds"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UpdateAdminAccount.AvailableFunds" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="UpdateAdminAccount.AvailableFunds"></span>
            </div>

        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Update"/>
            </div>
        </div>
        <input type="hidden" asp-for="UpdateAdminAccount.Id" class="form-control" />
        <input type="hidden" asp-for="UpdateAdminAccount.DateCreated" class="form-control" />
        <input type="hidden" asp-for="UpdateAdminAccount.NetLiquidation" class="form-control" />
        <input type="hidden" asp-for="UpdateAdminAccount.GrossPositionValue" class="form-control" />
    </form>
</div>