@page
@model TradingDB.Pages.AdminCreateBrokersModel
@{
}


<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateBroker.Name"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateBroker.Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateBroker.Name"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateBroker.Website"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateBroker.Website" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateBroker.Website"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Create"/>
            </div>
        </div>
    </form>
</div>