@page
@using Webservice.ContextHelpers
@model TradingDB.Pages.CreateOrderModel
@inject DatabaseContextHelper context
@using TradingLibrary.Enums;
@using DatabaseLibrary.Helpers;
@{
}


<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateOrder.Action" ></label>
            </div>
            <div class="col-md-10">
                <select  asp-for="CreateOrder.Action" asp-items="Html.GetEnumSelectList<OrderAction>()" class="form-control"> </select>
            </div>
            <span class="text-danger" asp-validation-for="CreateOrder.Action"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateOrder.TargetPrice"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateOrder.TargetPrice" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateOrder.TargetPrice"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateOrder.Quantity"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="CreateOrder.Quantity" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateOrder.Quantity"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CreateOrder.Symbol"></label>
            </div>
            <div class="col-5">
                @{
                    List<string> list = new List<string>();
                    foreach (var item in SecurityHelper_db.getCollection(context.DBContext))
                    {
                        list.Add(item.Symbol);
                    }

                }
                <input type="text" asp-for="CreateOrder.Symbol" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="CreateOrder.Symbol"  ></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Create"/>
            </div>
        </div>
    </form>
</div>